body {
    background-color: #F6F4EB;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
}

.nav-bar {
    background-color: #284E66;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-items li {
    padding: 14px 20px;
}

.nav-logo {
    margin-left: 10px;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.nav-logo img {
    max-height: 50px;
    vertical-align: middle;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 14px 20px;
}

.nav-bar a:hover {
    background-color: #3A6D8F;
}

.burger-icon {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: white;
    margin-left: 10px;
}

.nav-toggle {
    display: none;
}

.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff9db;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 4px #284E66;
    text-align: center;
}

.img-banner {
    width: 100%;
    height: 500px;
    opacity: .26;
    object-fit: cover;
}

.div-banner {
    background: #284E66;
    width: 100%;
    height: 10%;
    position: relative;
    overflow: hidden
}

.image-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4% auto 0 auto;
    max-width: 600px;
    width: 100%;
    position: relative;
    z-index: 2;
    background-color: transparent;
    padding: 0 1rem;
    box-sizing: border-box;
}

summary {
    color: #284E66;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #F6F4EB;
    padding: 1.25rem 1.875rem;
    border: 0.188rem solid #284E66;
    width: 100%;
    margin: 0.063rem 0;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
    transition: all 0.3s ease-in-out;
    white-space: normal;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    outline: none;
}

summary:hover {
    background-color: #d5d2cb;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
}

details {
    width: 100%;
    max-width: 1200px;
    margin: 0.5rem;
    box-sizing: border-box;
    padding: 1rem;
}

details[open=""] > summary {
    background-color: #284E66;
    color: #F6F4EB;
}

details div {
    background-color: #F6F4EB;
    border: 0.188rem solid #284E66;
    margin: 0.938rem 0;
    padding: 1.25rem 1.875rem;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
}

.girl-vector-left,
.girl-vector-right {
    margin-top: 8rem;
    width: 100%;
    max-width: 800px;
    position: absolute;
    z-index: 1;
    min-width: unset;
    left: 0;
    right: 0;
    transform: translateX(-50%);
}

.girl-vector-left {
    transform: scaleX(-1) translateX(-6%) translateY(-10%);
}

.footer-div {
    box-sizing: border-box;
    margin: 0;
    display: grid;
    font-size: 14px;
}

.footer-distributed {
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
    padding-inline: 50px;
    color: #F6F4EB;
    background: #284E66;
}

.footer-distributed > * {
    flex: 1 100%;
}

.side-one {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-distributed h2 {
    font-weight: bold;
    font-size: 22px;
    color: #91C8E4;
}

.footer-distributed ul {
    list-style: none;
    padding-left: 0;
}

.footer-distributed li {
    line-height: 2em;
}

.footer-distributed a {
    text-decoration: none;
}

.side-two {
    display: flex;
    flex-flow: row wrap;
}

.side-two > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #F6F4EB;
}

.h-box {
    column-count: 2;
    column-gap: 1.25em;
}

.copyright {
    text-align: center;
    color: #F6F4EB;
    padding-top: 50px;
}

.side-one p {
    padding-bottom: 5%;
    padding-right: 20%;
    color: #F6F4EB;
}

.footer-logo {
    width: 250px;
    height: auto;
}

.social-icons {
    gap: 5em;
    display: flex;
    flex-flow: wrap;

}

#topButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

#topButton img {
    display: block;
    width: 20%px;
    height: 100px;
}

@media screen and (max-width: 1030px) {
    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #284E66;
        z-index: 1000;
    }

    .nav-items li {
        width: 100%;
        text-align: center;
    }

    .burger-icon {
        display: block;
        position: absolute;
        left: 10px;
    }

    .nav-logo {
        order: 1;
        display: flex;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .nav-toggle:checked + .burger-icon + .nav-logo + .nav-items {
        display: flex;
    }
}

@media screen and (max-width: 1024px) {
    .nav-bar ul {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Footer media query */
@media screen and (min-width: 600px) {
    .side-two > * {
        flex: 1;
    }

    .features {
        flex-grow: 2;
    }

    .side-one {
        flex: 1 0px;
    }

    .side-two {
        flex: 2 0px;
    }
}

@media (max-width: 600px) {
    .footer-distributed {
        padding: 40px;
    }
}

/* Make the images responsive */
@media (max-width: 1024px) {
    .girl-vector-left {
        max-width: 90%; /* Adjust max width for smaller screens */
        margin-top: 4rem; /* Adjust margin for smaller screens */
    }
}

@media (max-width: 768px) {
    .girl-vector-left,
    .girl-vector-right {
        max-width: 40%; /* Further adjust max width */
        margin-top: 2rem; /* Further adjust margin */
    }
}

@media (max-width: 480px) {
    .girl-vector-left,
    .girl-vector-right {
        max-width: 30%; /* Further adjust for small screens */
        margin-top: 1rem; /* Further adjust margin */
    }
}