body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
}

.nav-bar {
    background-color: #284E66;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-items li {
    padding: 14px 20px;
}

.nav-logo {
    margin-left: 10px;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.nav-logo img {
    max-height: 50px;
    vertical-align: middle;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 14px 20px;
}

.nav-bar a:hover {
    background-color: #3A6D8F;
}

.burger-icon {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: white;
    margin-left: 10px;
}

.nav-toggle {
    display: none;
}

.img-logo {
    width: auto;
    height: 20%;
    vertical-align: middle;
}

.img-banner {
    width: 100%;
    height: 500px;
    opacity: .26;
}

.div-banner {
    background: #284E66;
    width: 100%;
    height: 10%;
    position: relative;
}

.div-banner-cont {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    
}

.div-banner-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff9db;
    text-shadow: 1px 4px #284E66;   
    text-align: center;
}

.div-banner-cont h1 {
    font-size: 60px;
    font-weight: bold; 
}

.div-banner-cont p {
    font-size: 30px; 
}

.cont-container {
    background-color: #ffffff;
}

.image-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
    flex-wrap: wrap;
}

.img-description {
    max-width: 45%;
    padding: 10px;
}

.image-wrapper {
    position: relative;
    margin-right: 20px; 
}

.home-img {
    width: 20%;
    height: auto;
    margin: 10px;
    border-radius: 25px;
    max-width: 30%;
}

.circle-img {
    position: absolute;
    top: -30px;
    right: -40px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0); 
}

.h3-left{
    color: #284E66;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
    margin-bottom: 20px;
    text-align: left;
}

.h3-right {
    color: #284E66;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
    margin-bottom: 20px;
    text-align: right;
}

.p-left{
    color: #284E66;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
    text-align: left;
}
.p-right {
    color: #284E66;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
    text-align: right;
}

.div-bottom {
    background: #CFCEC7;
    width: 100%;
    height: auto;
    position: relative;
    padding: 1px;
    }

.div-bottom-cont h2{
    font-size: 60px;
    color: #284E66;
    font-weight: bold;
    text-shadow: 1px 2px #000000;
    text-align: center;
    margin-bottom: 10px;
}

.div-bottom-cont p {
    color: #284E66;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 2px #000000;
    text-align: center;
    max-width: 65%;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
}

.bottom-p-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    padding: 10px 0;
}

.profile-cont {
    text-align: center;
    margin: 20px 0;
}

#profile-pic {
    border: solid 5px #001f3f;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#profile-desc {
    color: #001f3f;
    font-size: 18px;
    margin-top: 10px;
}

.skills-strengths, .dreams {
    background-color: #f4f4f4; 
    border: 2px solid #001f3f;
    padding: 20px;
    margin: 20px 0;
}

.skills-strengths h3, .strengths h3, .dreams h3 {
    color: #001f3f;
}

.media {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
