body {
    background-color: #fff9db;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
}

.nav-bar {
    background-color: #284E66;
    overflow: hidden;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}

.nav-bar li {
    display: inline;
    margin: 0 20px;
}

.nav-bar a {
    color: #F6F4EB;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.nav-bar a:hover {
    background-color: #749BC2;
    border-radius: 5px;
}

.nav-bar .nav-logo img {
    max-height: 50px; 
    vertical-align: middle;
    padding-right: 10px; 
}

.img-logo {
    width: auto;
    height: 20%;
    vertical-align: middle;
}

.img-banner {
    width: 100%;
    height: 500px;
    opacity: .26;
}

.div-banner {
    background: #284E66;
    width: 100%;
    height: 10%;
    position: relative;
}

.div-banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff9db;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 4px #284E66;   
    text-align: left;
}

.cont-container {

}

.image-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
    flex-wrap: wrap;
}

.image-text-container h3 {
    color: #284E66;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
    margin-bottom: 20px;
    text-align: left;
}

.image-text-container p {
    color: #284E66;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
}

.img-description {
    max-width: 45%;
    padding: 10px;
}

.right-text {
    text-align: right;
}

.left-text {
    text-align: left;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.circle-img {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 320px;
    height: 320px;
    border-radius: 50%; 
    box-shadow:  0 0 0 0 rgba(0, 0, 0, .5);
    z-index: 1;
}

.div-bottom {
    
}

.profile-cont {
    text-align: center;
    margin: 20px 0;
}

#profile-pic {
    border: solid 5px #001f3f;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#profile-desc {
    color: #001f3f;
    font-size: 18px;
    margin-top: 10px;
}

.skills-strengths, .dreams {
    background-color: #f4f4f4; 
    border: 2px solid #001f3f;
    padding: 20px;
    margin: 20px 0;
}

.skills-strengths h3, .strengths h3, .dreams h3 {
    color: #001f3f;
}

.media {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
